body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.group-table-wrapper {
  height: 600px;
  display: block;
  overflow-y: scroll;
  width: 100%;
}

.postcode-form {
  height: 3rem;
}

.postcode-input {
  margin-bottom: 0;
}

.full-width {
  width: 100%;
}

.blue {
  color: blue !important;
  cursor: pointer;
}

.small-margin-bottom {
  margin-bottom: 0.2rem !important;
}

.input-height {
  height: 4rem;
}

.App {
  height: 100vh;
  display: grid;
  grid: 0fr 1fr 1fr 0fr / 1fr;
}

.App-Standalone {
  padding: 2rem 4rem;
  height: 100%;
  display: grid;
  grid: 0fr 1fr 1fr 0fr / 1fr;
}

.table-wrapper {
  height: 45vh;
  overflow-y: scroll;
}

.search-padding {
  padding-top: 1.6rem;
}

.group-map {
  height: 100%;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2px;
  font-size: 0.8rem;
  text-align: center;
  border-top: 1px solid lightgray;
  height: 3rem;
}

.footer a {
  padding: 0 1rem;
}

.top-buttons {
  font-size: 1rem !important;
}

@media only screen and (max-width: 800px) {
  .App-Standalone {
    padding: 0;
  }
}
