@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Source+Serif+Pro&display=swap');

body {
  margin: 0;
  font-size: 1rem;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
