body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.group-table-wrapper {
  height: 600px;
  display: block;
  overflow-y: scroll;
  width: 100%;
}

.postcode-form {
  height: 3rem;
}

.postcode-input {
  margin-bottom: 0;
}

.full-width {
  width: 100%;
}

.blue {
  color: blue !important;
  cursor: pointer;
}

.small-margin-bottom {
  margin-bottom: 0.2rem !important;
}

.input-height {
  height: 4rem;
}

.App {
  height: 100vh;
  /* padding: 1rem; */
}

.place-form {
  height: 12vh;
}

.map-wrapper {
  height: 44vh;
}

.table-wrapper {
  height: 44vh;
  overflow-y: scroll;
}

.search-padding {
  padding-top: calc(1vh + 2vw);
}
